body {
  padding: 5%;
}

h2 {
  color: red;
  text-decoration: underline;
}

table {
    margin: 1%;
    align-items: center;
    border: 2px solid black;
    border-collapse: collapse;
    width: 50%;
    background-color: #aeeb34
}

th, td {
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

th {
    background-color: #699e00;
}

a {
  text-align: right;
  padding: 0.5%;
  background-color: white;
}
