<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <style media="screen">
      table {
          margin: 1%;
          align-items: center;
          border: 2px solid black;
          border-collapse: collapse;
          width: 50%;
          background-color: #aeeb34
      }

      th, td {
          border: 1px solid black;
          padding: 5px;
          text-align: center;
      }

      th {
          background-color: #699e00;
      }
    </style>
    <title>test</title>
  </head>
  <body>
    <table>
      <tr>
        <th>user_name</th>
        <th>cust_name</th>
        <th>books_id</th>
      </tr>
        <tr>
        </tr>
    </table>
    {{ message }}
  </body>
</html>
